@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/icon-column.css";
@import "components/no-mobile.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/chat.css";

html {
    height: 100%;
    position: relative;
    z-index: 1;
}

html::after {
    width: 100%;
    height: 100%;
    content: "";
    background: url("https://i.pinimg.com/280x280_RS/65/d4/63/65d463d236fc39daf2deabf7bf72f934.jpg");
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.1;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #2f363e;
}

.main-screen {
    padding: 0px var(--horizontal-space);
}