.find-icons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.find-icons__icon {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.find-icons__icon i {
    font-size: 35px;
}

.find-icons__icon span {
    margin-top: 15px;
}

.recommended-friends {
    margin: 25px 0;
    padding: 25px 0;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.recommended-friends__title {
    font-size: 16px;
    color: var(--light-gray);
}

.recommended-friends span {
    margin: 105px 0;
    display: block;
    text-align: center;
    font-size: 18px;
    color: var(--gray);
}

.open-chat__header {
    display: flex; 
    justify-content: space-between;
    color: var(--gray);
}

.open-chat__header span {
    color: var(--light-gray);
}

.open-chat__chat-screen {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.open-chat__chat-title {
    font-weight: 600;
    font-size: 22px;
}

.open-chat__chat-subtitle {
    color: var(--gray);
    margin: 10px 0;
}

.open-chat__chat-profile {
    font-size: 15px;
    display: flex;
    align-items: center;
}

.open-chat__chat-status {
    color: red;
    padding: 10px;
}
.open-chat__chat-thumbnail {
    width: 100px;
    height: 100px;
}