.welcome-header {
    margin: 90px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome-header__title {
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 600;
}
.welcome-header__text {
    width: 60%;
    opacity: 0.7;
}

@keyframes slide-in-bottom {
    0% {
      transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

.slide-in-bottom {
	animation: slide-in-bottom 1200ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-bottom-delay {
	animation: slide-in-bottom 1200ms cubic-bezier(0.250, 0.460, 0.450, 0.940) 500ms both;
}

#login-form {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}
#login-form input {
    padding: 20px 0;
    border: none;
    font-size: 18px;
    margin-bottom: 25px;
}
#login-form input:not([type="submit"]) {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    transition: border-color 0.3s ease-in-out;
}
#login-form input::placeholder {
    color: rgba(0,0,0,0.4);
}
#login-form input:focus {
    border-color: var(--main-color);
}
#login-form input[type="submit"] {
    background-color: var(--main-color-light);
    cursor:pointer;
    padding: 20px 0;
    border-radius: 5px;
}
#login-form input[type="submit"]:hover {
    background-color: var(--main-color);
    transition: background-color 200ms ease-in-out;
}
#login-form a {
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

footer {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

footer img {
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 50%;
}