.icon-column {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.icon-column i {
    margin-right: 22px;
}

.icon-column__title {
    opacity: 0.9;
    font-weight: 600;
    font-size: 22px;
}
.icon-column__subtitle {
    color: var(--gray);
    font-size: 20px;
}

.icon-column:last-child {
    border-bottom: none;
}
